%h1#home-page-header
  Better than package slips. Guaranteed.

- if not current_resident and not current_clerk
  
  %a.button.huge.blue{:href => new_resident_path}
    %span Resident Sign Up
  
  %a.button.huge.blue{:href => resident_login_path}
    %span Resident Login
