%h1 
  Hello there welcome to BearTracks
%br
= link_to "Add New Resident", new_resident_path
%br
%br
- if current_resident
  = link_to "Resident Logout", resident_logout_path
- else
  = link_to "Resident Login", resident_login_path
