= form_tag resident_path(@resident), :method=>'put'  do
  %table#resident-form
    %caption#resident-form-caption= "Resident Profile"
    %caption *required fields

  = render :partial => "form"
  .options
    = submit_tag "Update"
