= form_tag residents_path do
  %table#resident-form
    %caption#resident-form-caption= "New resident"
    %caption *required fields
  = render :partial => "form"
  .options
    = submit_tag "Submit"
