%div.login
  %p
    = f.text_field :login, :value => "login", :size => 15, :onfocus => "clearfield(this)", :onblur => "resetfield(this)" 
  %p
    = f.text_field :password, :value => "password", :size => 15, :onfocus => "pwclearfield(this)", :onblur => "pwresetfield(this)" 
  
