%table.login
  %caption.login-caption Resident Login
  %tr
    %td.login-header= f.label :login
    %td.login-field= f.text_field :login, :size => 15 
  %tr
    %td.login-header= f.label :password
    %td.login-field= f.password_field :password, :size => 15 
  
