%div.login
  %p
    = f.text_field :login, :value => "login", :size => 15, :class => "fancy-input" 
  %p
    = f.text_field :password, :value => "password", :size => 15, :class => "fancy-password-input"
  
