/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {
  margin: 0;
  padding: 0;
  color: DarkSlateGrey;
  font-family: 'Droid Sans', helvetica, sans-serif;
  font-size: 10pt;
	font-weight: normal;
	height: 100%;
}
#notice {
  margin: 0;
  padding: 0 20px 20px 0;
}

a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: dimGray;
  font-size: 1.5em;
  font-style: italic;
  display: block;
	margin: 0 10px 10px 10px;
}

h1.title {
	margin: 0 0 15px 15px;
  padding: 20px;
  color: #5F5F5F;
  font-size: 2.9em;
	font-style: normal;
	letter-spacing: 8px;
	background-color: #C2D4EC;
	height: auto;
}

#header {
	background-color: #C2D4EC;
	border-bottom: 4px solid #EAEAEA;
}

#footer {
	border-top: 1px solid #F3F2F2;
	color: #A2A2A2;
	background: #F2F2F2;
	margin: 0 0 0 0;
}

#footimage {
	margin: 0 0 -45px 0;
}

#footer .main {
	background-color: #F2F2F2;
}

#footer .secondary {		
	width: 100%;
	margin: 0 auto;
	padding: 10px 0 10px 30px;	
	background-color: #e4e4e4;
	border-top: 1px solid #e4e4e4;
	color: #5b5b5b;
}

.wrapper {
	min-height: 80%;
	height: auto !important;
	height: 100%;
	margin: 0 auto auto 20px;
}

#footer, .push {
	height: 1em;
}
