// Place all the styles related to the clerk_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.login {
  width: 50%;
  margin: 50px auto 10px; 
}

caption.login-caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

.login-header {
  font-weight: bold;
  text-align: right;
  padding: 10px 5px 10px 0px;
  width: 50%;
}

.login-field {
  text-align: left;
}

.login-checkbox {
  text-align: right;
}

.options {
  text-align: center;
}
