/*
 * CSS for login related things
 */

div.login {
  margin-top: 80px;
  color: black;
  font-size: 24px; 
  text-align: center;
}

input#clerk_session_login,
input#clerk_session_password, 
input#resident_session_login,
input#resident_session_password {
  color: #888;
  border: 1px solid #C0C0C0;
  font-size: 20px;
  padding: 10px;
}

/* Use for when all forms are going to be consistent
input {
  color: #888;
  border: 1px solid #C0C0C0;
  font-size: 20px;
  padding: 10px;
}
*/

// This is for little pictures that go inside buttons
img.inside-button {
  padding-right: 5px;
  float: left;
}

.submit-button {
  text-align: center;
}