= form_for @clerk_session, :url => {:action => :create} do |f|

  = render :partial => "form", :locals => {:f => f} 

  .submit-button
    %button{:type => "submit", :class => "normal"}
      = image_tag("key.png", :class => "inside-button")
      Clerk login
