%li
  %label{:for => "message[name]"} Username:
%li
  %input{:type => "text", :name => "message[name]", :class => "text"}
%li
%li
  %label{:for => "message[name]"} Password:
%li
  %input{:type => "text", :name => "message[name]", :class => "text"}
%li
%li
%li
  %input{:type => "submit", :value => "Log In", :class => "button"}
